.content_outer {
	width: 100%;
}

.content_inner {
	margin: 0 auto;
}

.content__container {
	padding: 30px 15px 15px;
}

.contentBackground {
	background-color: #e9ecef;
	background-size: cover;
}

.content__containerService {
	margin: 0 10px;
	color: #343a40;
}

.content__serviceTitle {
	margin-bottom: 15px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.content__serviceText {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 15px;
}