.itemContainer {
    margin-bottom: 30px;
}

.itemTable {
    width: 100%;
    border: 1px solid;
    border-spacing: 0;
    text-align: center;
}

.itemImg {
    max-width: 300px;
    margin-right: 15px ;
}
