/*описание content__container в commons.CSS*/

.content__descriptionContainer {
	min-height: 450px;
}

.content__mapContainer {
	margin-left: 155px;
}

/*.content__descriptionContainer_description {}*/

.content__descriptionContainer_description_title {
	margin-bottom: 15px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #343a40;
}

.content__descriptionContainer_description_text {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 5px;
	color: #343a40;
}

.content__descriptionContainer_description_messengerContainer {	
	margin: 8px;
}

.messengerLogo {
	height: 40px;
	width: 40px;
	margin: 0 10px;
	border-radius: 50%;
}

/*.contactsMap {}*/