.menu__list {
	padding: 15px 0;	
	width: 100%;
}

.menu__list_item {
	margin: 0 30px;
	font-size: 18px;
	list-style: none;
	text-align: center;
}
.menu__list_firstItem{
	margin-left: 0;
}
.menu__list_lastItem {
	margin-left: auto;
	margin-right: 0;
}

/*.menu__list_itemText {}*/
.menu__list_itemText:active {
	color: #2196f3;
}

.activePage {
	color: #2196f3
}