/*описание content__container в commons.CSS*/

.content__descriptionContainer {
	min-height: 450px;
}

.content__mapContainer {
	margin-left: 155px;
}

/*.content__descriptionContainer_description {}
.content__descriptionContainer_description_title {}*/

.content__descriptionContainer_description_text {
	margin-top: 5px;
}

.content__descriptionContainer_description_messengerContainer {	
	margin: 8px 0;
}

.messengerLink {
	margin-right: 20px;
}

.messengerLogo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

/*.contactsMap {}*/