.content_outer {
	width: 100%;
}

.content_inner {
	margin: 0 auto;
}

.content__container {
	padding: 30px 15px 15px;
}

.contentBackground {
	background-color: #e9ecef;
	background-size: cover;
}

.content__containerAboutUs {
	margin: 0 10px;
	width: 35%;
	color: #343a40;
}

.content__containerGoods {
	margin: 0 10px;
	width: 65%;
}

.content__aboutUs_title {
	margin-bottom: 15px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.content__aboutUs_intro {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
}

.content__goodsCarousele {
	height: auto;
	width: 100%;
	font-size: 26px;
}

.content__brends {
	padding-top: 40px;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content__brends_card {
	align-content: center;
	margin: 10px;
	padding: 10px;
	max-width: 100px;
	border-color: #ced4da;
	background-color: white;
	background-size: cover;
	cursor: pointer;
}
.content__brends_card:hover {
	box-shadow: 0 0 10px grey;
}

.brendCard {
	align-content: center;
}

.brendLogoContainer {
	height: 100px;
	width: 100px;
}

.brendLogo {
	display: block;
	margin: 0 auto;
	max-height: 100px;
	max-width: 100px;
}

.brendName {
	margin-top: 10px;
	height: 20px;
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #007765;
	text-align: center;
	word-break: normal;
}