/*описание content__container в commons.CSS*/

/*.content__siteMap_title {}*/

.siteMap_text {
	cursor: pointer;
}
.siteMap_text:hover {
	font-weight: bold;
	color: #343a40;
}

.nextStep {	
	margin-left: 20px;
}