.content__brends {
	padding-top: 40px;
	flex-wrap: wrap;
}

.content__brends_card {
	margin: 10px;
	padding: 10px;
	max-width: 100px;
	border-color: #ced4da;
	background-color: white;
	background-size: cover;
	cursor: pointer;
}
.content__brends_card:hover {
	box-shadow: 0 0 10px grey;
}

.brendCard {}

.brendLogoContainer {
	height: 100px;
	width: 100px;
}

.brendLogo {
	display: block;
	margin: 0 auto;
	max-height: 100px;
	max-width: 100px;
}

.brendName {
	margin-top: 10px;
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #007765;
	text-align: center;
	word-break: normal;
}