.content_outer {
	width: 100%;
}

.content_inner {
	margin: 0 auto;
}

.content__container {
	padding: 30px 15px 15px;
}

.contentBackground {
	background-color: #e9ecef;
	background-size: cover;
}

.content__containerAboutUs {
	margin: 0 10px;
	width: 35%;
	color: #343a40;
}

.content__containerGoods {
	margin: 0 10px;
	width: 65%;
}

.content__aboutUs_title {
	margin-bottom: 15px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.content__aboutUs_intro {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
}