.background_lightblue {
	background-color: lightblue;
	background-size: cover;
}

.background_yellow {
	background-color: yellow;
	background-size: cover;
}

.background_pink {
	background-color: pink;
	background-size: cover;
}

.background_lightpink {
	background-color: lightpink;
	background-size: cover;
}

.background_red {
	background-color: red;
	background-size: cover;
}

.background_grey {
	background-color: grey;
	background-size: cover;
}

.background_white {
	background-color:white;
	background-size: cover;
}