.body {
	padding: 0 55px;
	margin: 0;
}

<!--навигационная строка-->
.navbar {
	padding: 5px 0;
    margin: 0;
    height: auto;
    width: 100%;
    position: fixed;    
    background-color: blue;
    background-size: cover;
    top: 0;
    display: flex;
    flex-direction: row;
	align-items: center; 
    justify-content: space-between;
}

.navbar__container {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.navbar__container_logo {
	align-items: center;
	height: 15px;

}

.navbar__container_name {
	width: 75px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.navbar__container_inner {
	margin: auto 2px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.navbar__container_search {}

.navbar__container_contacts {
	width: 150px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
}


<!--основной контент-->
.content {}

.content__container {}

.content__aboutUs_title {}

.content__aboutUs_intro {}

.content__brends_row {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.content__brends_row_card {
	display: block;
	align-content: center;
	max-width: 200px;
	margin: 10px;
	padding: 10px;
	border: solid 1px black;
	border-radius: 20px;
}

.brendCard {
	align-content: center;
	margin: 0;
}

.brendLogo {
	width: 200px;
	max-height: 200px;
	display: block;
	margin: 0 auto;
}

.brendName {
	margin-top: 10px;
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #007765;
	text-align: center;
	word-break: normal;
}

.content__requestButton {}

.content__navbar {}


<!--подвал-->
.footer {}