* {
	margin: 0;
	padding: 0;
}

.body {
	padding: 0 15px;
	margin: 0;
}

.flex {
	display: flex;
}

.align-items_center {
	align-items: center;
}

.justify-content_space-between {
    justify-content: space-between;
}

.justify-content_center {
	justify-content: center;
}


<!--навигационная строка-->
.navbar {
	height: auto;
    width: 100%;    
    align-items: center;
}

.navbar__fixed {
	position: fixed;
}

.navbar__sticky {
	position: sticky;
	top: 0;
}

.navbar__container {
	margin: 0 5px;
}

.navbar__container_logoContainer {}

.navbar__container_logo {
	margin: 0 3px;
	max-height: 30px;
	border-radius: 5px;
}

.navbar__container_name {
	margin: 0 3px;
	width: 75px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.navbar__request {}

.navbar__requestButton {	
	
}

.imgOnlineRequest {
	padding: 2px 9px;
	border: solid 1px black;
	border-radius: 7px;
	max-height: 26px;
	margin: 0 3px;
	margin-left: 7px;
	background-color: white;
	background-size: cover;
}

.navbar__container_search {
	width: 250px;
	margin: 0 auto;
}

.navbar__container_search_input {
	width: 208px;
	height: 26px;
	padding: 0 0 0 10px;
	border: 2px solid #7BA7AB;
	border-radius: 7px 0 0 7px;
	outline: none;
	background: #F9F0DA;
	color: #9E9C9C;
}
.navbar__container_search_button {
	top: 0;
	right: 0px;
	width: 42px;
	height: 30px;
	border: none;
	background: #7BA7AB;
	border-radius: 0 7px 7px 0;
	cursor: pointer;

}

.imgSearch {
	max-height: 28px;
	margin: auto;
}

.navbar__container_contacts {
	width: 150px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

<!--каталог-->
.catalog {}

.catalog__list {
	margin: 5px 0;
}

.catalog__list_item {
	background-color: lightblue;
	background-size: cover;
	border: solid 1px black;
	border-radius: 5px;
	margin: auto 3px;
	padding: 3px;
	width: 20%;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	list-style: none;
	text-align: center;
}

<!--основной контент-->
.content {}

.content__container {}

.content__aboutUs_title {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.content__aboutUs_intro {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.content__brends {
	width: 70%;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content__brends_card {
	align-content: center;
	margin: 10px;
	padding: 10px;
	max-width: 100px;
	border: solid 1px black;
	border-radius: 20px;
}

.brendCard {
	align-content: center;
}

.brendLogoContainer {
	height: 100px;
	width: 100px;
	background-color: white;
	background-size: cover;
}

.brendLogo {
	display: block;
	margin: 0 auto;
	max-height: 100px;
	max-width: 100px;
}

.brendName {
	margin-top: 10px;
	height: 20px;
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 10px;
	color: #007765;
	text-align: center;
	word-break: normal;
}

.content__goodsCarousele {
	height: 172px;
	width: 70%;
	font-size: 32px;
}


<!--подвал-->
.footer {}

.footer_siteMap {
	margin: 50px auto 20px;
	color: white;
}


<!--для проверки-->

.width_70 {
	width: 70%;
}

.width_80 {
	width: 80%;
}

.background_lightblue {
	background-color: lightblue;
	background-size: cover;
}

.background_yellow {
	background-color: yellow;
	background-size: cover;
}

.background_pink {
	background-color: pink;
	background-size: cover;
}

.background_lightpink {
	background-color: lightpink;
	background-size: cover;
}

.background_red {
	background-color: red;
	background-size: cover;
}

.background_grey {
	background-color: grey;
	background-size: cover;
}