* {
	margin: 0;
	padding: 0;
}

.body {
	margin: 0;
	padding: 0;
}

.blocksMargin {
	margin: 10px 0;
}

.flex {
	display: flex;
}

.align-items_center {
	align-items: center;
}

.justify-content_space-between {
    justify-content: space-between;
}

.justify-content_center {
	justify-content: center;
}

.flex-direction_column {
	flex-direction: column;
}

a {
	text-decoration: none;
}
a:hover {	
	color: #2196f3;
}


<!--навигационная строка-->
.navbar {
	width: 100%;
}

.navbarBackground {
	background-color: #343a40;
	background-size: cover;
}

.navbar__sticky {
	position: sticky;
	top: 0;
}

.navbar__container {
	margin: 0 25px;
	height: 53px;
}

.navbar__container_logoContainer {}

.navbar__container_logo {
	margin: 0 3px;
	max-height: 30px;
	border-radius: 5px;
}

.navbar__container_name {
	margin: 0 3px;
	width: 75px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: white;
}

.navbar__container_request {}

.navbar__container_searchInput {
	width: 208px;
	height: 26px;
	padding: 0 0 0 10px;
	border: 2px solid #696969;
	border-radius: 7px;
	outline: none;
	background: #F9F0DA;
	color: #9E9C9C;
	cursor: pointer;
}

.imgOnlineRequest {
	padding: 2px 9px;
	border: solid 1px #F9F0DA;
	border-radius: 7px;
	max-height: 26px;
	margin: 0 7px 0 14px;
	background-color: #343a40;
	background-size: cover;
}

.navbar__container_contacts {
	width: 130px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
}

.navbar__container_contacts_links {
	color: white;
}


<!--каталог-->
.catalog {}

.catalog__list {
	padding: 15px 0;
	background-color: #f8f9fa;
	background-size: cover;
	width: 100%;
}

.catalog__list_item {
	margin: 0 30px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 18px;
	list-style: none;
	text-align: center;
}

.margin-left_auto {
	margin-left: auto;
}

.catalog__list_itemText {
	color: #343a40;
}
.catalog__list_itemText:active {
	color: #2196f3;
}

<!--основной контент-->
.content {
	margin: 5px;
}

.content__container {
	padding: 30px 15px 15px;
}

.contentBackground {
	background-color: #e9ecef;
	background-size: cover;
}

.content__containerAboutUs {
	margin: 0 10px;
	width: 35%;
	color: #343a40;
}

.content__containerGoods {
	margin: 0 10px;
	width: 65%;
}

.content__aboutUs_title {
	margin-bottom: 15px;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.content__aboutUs_intro {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
}

.content__goodsCarousele {
	height: auto;
	width: 100%;
	font-size: 26px;
}

.content__brends {
	width: 70%;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content__brends_card {
	align-content: center;
	margin: 10px;
	padding: 10px;
	max-width: 100px;
	border: solid 1px #ced4da;
	border-radius: 20px;
	background-color: white;
	background-size: cover;
}

.brendCard {
	align-content: center;
}

.brendLogoContainer {
	height: 100px;
	width: 100px;
}

.brendLogo {
	display: block;
	margin: 0 auto;
	max-height: 100px;
	max-width: 100px;
}

.brendName {
	margin-top: 10px;
	height: 20px;
	font-family: 'Roboto', 'Helvetica Nue', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 10px;
	color: #007765;
	text-align: center;
	word-break: normal;
}


<!--подвал-->
.footer {
	padding: 20px auto 5px;	
	width: 100%;
	height: auto;
	font-size: 16px;
	color: #343a40;
}

.footerBackground {
	background-color: #f8f9fa;
	background-size: cover;
	padding: 15px;
}

.footer_siteMap {
	margin: 3px auto;	
}


<!--для проверки-->

.width_70 {
	width: 70%;
}

.width_80 {
	width: 80%;
}

.background_lightblue {
	background-color: lightblue;
	background-size: cover;
}

.background_yellow {
	background-color: yellow;
	background-size: cover;
}

.background_pink {
	background-color: pink;
	background-size: cover;
}

.background_lightpink {
	background-color: lightpink;
	background-size: cover;
}

.background_red {
	background-color: red;
	background-size: cover;
}

.background_grey {
	background-color: grey;
	background-size: cover;
}